:root {
    --bg-color: black;
    --text-color: white;
    --link-color: khaki;
    --link-over-color: yellow;

    --nav-bg-color: black;
    --nav-link-bg-color: white;
    --nav-link-hover-bg-color: orange;

    --footer-bg-color: black;  
    --footer-border-color: #777;
    
    --section-bg-color: orange;
    --section-text-color: black;
    --section-border-color: orange;

    --max-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    text-align: left;
    max-width: var(--max-width);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color:  var(--link-over-color);
}

abbr,
acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

img {
    border: 0;
}

footer {
    position: fixed;
    bottom: 0;

    background-color: var(--footer-bg-color);
    border-top: 1px dotted var(--footer-border-color);
    font-size: 80%;
    height: 1.5rem;
    margin: 0 auto;
    padding-top: 0.2rem;
    text-align: right;
    width: 100%;
    max-width: var(--max-width);
}

#foto {
    float: left;
    margin: 5px 10px 15px 0;
    text-align: center;
    width: 165px;
}

#personal div {
    font-size: 80%;
}

#personal div ~ div {
    margin-top: 2rem;
}

@media (max-width: 550px) {
    #personal {
        clear: both;
        margin-bottom: 1rem;
    }
}

nav {
    position: sticky;
    top: 0;

    background-color: var(--nav-bg-color);
    clear: both;
    padding: 0rem 0.5rem 0 0.5rem;
}

nav a {
    background-color: var(--nav-link-bg-color);
    border-radius: 0.5rem;
    color: black;
    display: inline-block;
    margin: 0 1rem 0.5rem 0;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: var(--nav-link-hover-bg-color);
    color: var(--text-color);
}

@media (max-width: 763px) {
    body {
        margin: 0 0.5rem;
    }

    nav {
        display: none;
    }

    footer {
        text-align: center;
    }
}

h2 {
    background-color: var(--section-bg-color);
    border-radius: 0 0.75rem 0.75rem 0;
    color: var(--section-text-color);
    margin-bottom: 1rem;
    padding: 0.1rem 1rem 0.1rem 0;
    text-align: right;
    width: 75%;
}

section {
    clear: both;
    padding-top: 4rem;
}

main {
    padding-bottom: 1.5rem;
}

#titulos .titulacion {
    clear: both;
}

#titulos .logo {
    float: left;
    margin: 0 1rem 1rem 0;
}

#titulos .logo img {
    height: 70px;
    width: 60px;
}

#titulos .titulo {
    font-size: 125%;
}

#titulos .titulo:first-letter {
    font-size: 175%;
}

#titulos .universidad {
    margin-left: 4rem;
}

#puestos .puesto {
    border-top: 1px dotted var(--section-border-color);
    padding: 0.25rem 0 1rem;
}

#puestos .puesto .empresa {
    float: left;
    font-size: 125%;
}

#puestos .puesto .fecha {
    color: var(--section-border-color);
    float: right;
    font-size: 80%;
    font-style: italic;
    margin: 0 0.5rem 1rem 1rem;
}

#puestos .puesto .cargo {
    clear: both;
    margin-left: 2rem;
}

#puestos .puesto .modulos {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
}

#puestos .puesto .descripcion {
    font-size: 80%;
    font-style: italic;
    margin: 0.5rem 4rem 0 4rem;
}

#ponencias .ponencia {
    border-top: 1px dotted var(--section-border-color);
    padding: 0.25rem 0 1rem;
}

#ponencias .ponencia .titulo {
    font-size: 125%;
}

#ponencias .ponencia .titulo:first-letter {
    font-size: 175%;
}

#ponencias .ponencia .lugar {
    font-size: 80%;
    margin-left: 2rem;
}

#libros .libro {
    clear: both;
}

#libros .libro .portada {
    float: left;
    margin: 0 1rem 1rem 0;
}

#libros .libro .titulo {
    font-size: 125%;
}

#libros .libro .titulo:first-letter {
    font-size: 175%;
}

#libros .libro .autoria {
    font-size: 80%;
}

#proyectos .proyecto {
    border-top: 1px dotted var(--section-border-color);
    padding: 0.25rem 0 1rem;
}

#proyectos .proyecto .empresa {
    font-size: 125%;
}

#proyectos .proyecto .desc {
    margin: 0.5rem 4rem 0 4rem;
}

#proyectos .proyecto .herramientas {
    font-size: 80%;
    margin: 0.5rem 4rem 0 8rem;
}

#cursos .ponencia {
    border-top: 1px dotted var(--section-border-color);
    padding: 0.25rem 0 1rem;
}

#cursos .curso {
    font-size: 125%;
}

#cursos .lugar {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
}

#cursos .lugar:before {
    content: "en ";
}

