* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0.5rem 0.1rem 0 0;
    text-align: left;
}

a {
    color: khaki;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

abbr,
acronym {
    cursor: help;
    border-bottom: 1px dotted;
}

img {
    border: 0;
}

h2 {
    background-color: white;
    color: black;
    margin: 0 0 1rem 0;
    text-align: center;
}

#idFoto {
    border: 0;
    float: left;
    margin: 0 10px 5px 0;
    padding: 5px 0 0 0;
    text-align: center;
    width: 165px;
}

#idPersonal span {
    font-size: 80%;
}

nav {
    margin: 1rem 1rem 0 1rem;
}

@media (min-width: 450px) {
    nav div {
        display: inline;
    }

    nav div ::after {
        content: " | ";
    }
}

@media (max-width: 450px) {
    #idPersonal {
        clear: both;
    }
}

#idTitulos .titulo {
    font-size: 125%;
    margin-left: 2em;
}

#idTitulos .titulo:first-letter {
    font-size: 175%;
}

#idTitulos .universidad {
    margin-left: 5em;
}

#idPuestos .puesto {
    border-top: 1px dotted #777;
    padding: 0.2rem 0 1rem 0;
}

#idPuestos .puesto .empresa {
    float: left;
    font-weight: bold;
    margin: 0.25rem 0 0.5rem 0;
}

#idPuestos .puesto .fecha {
    color: #777;
    float: right;
    font-size: 80%;
    font-style: italic;
    margin: 0 0 1rem 1rem;
}

#idPuestos .puesto .cargo {
    clear: both;
    font-weight: normal;
    margin: 0 0 0 2rem;
}

#idPuestos .puesto .modulos {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
}

#idPuestos .puesto .descripcion {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
    font-style: italic;
}

#idPonencias .ponencia {
    border-top: 1px dotted;
    font-size: 90%;
    padding: 0.5em 0 0.5em 2em;
}

#idPonencias .ponencia .titulo {
    font-size: 120%;
}

#idPonencias .ponencia .titulo:first-letter {
    font-size: 150%;
}

#idPonencias .ponencia .lugar {
    margin: 0 0 0 2rem;
}

#idLibros .libro {
    clear: both;
}

#idLibros .libro .portada {
    margin: 0 1rem 1rem 0;
    float: left;
}

#idLibros .libro .ficha {
    margin-left: 150px;
}

#idLibros .libro .ficha .titulo {
    font-size: 120%;
}

#idLibros .libro .ficha .titulo:first-letter {
    font-size: 150%;
}

#idLibros .libro .ficha .isbn {
    font-size: 75%;
}

#idLibros .libro .ficha .autoria {
    font-size: 75%;
}

#idProyectos .proyecto {
    border-top: 1px dotted;
    margin: 0.75rem 0 0.5rem 0;
}

#idProyectos .proyecto .empresa {
    font-size: 125%;
    margin: 1rem 0 0.5rem 0.5rem;
}

#idProyectos .proyecto .desc {
    margin-left: 2rem;
}

#idProyectos .proyecto .herramientas {
    font-size: 80%;
    margin: 0.5rem 0 0 4rem;
}

#idCursos .ponencia {
    border-top: 1px dotted;
    margin-bottom: 1rem;
}

#idCursos .curso {
    margin-top: 1rem;
}

#idCursos .lugar {
    font-size: 75%;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-left: 0.5rem;
}

#idCursos .lugar:before {
    content: "en ";
}

footer {
    position: fixed;
    background-color: black;
    border-top: 1px dotted;
    bottom: 0;
    font-size: 80%;
    height: 1.5rem;
    padding-top: 0.2rem;
    width: 100%;
}

footer a {
    float: right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.nofloat {
    clear: both;
    height: 3rem;
}
