* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: left;

    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: khaki;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

abbr,
acronym {
    cursor: help;
    border-bottom: 1px dotted;
}

img {
    border: 0;
}

#idFoto {
    float: left;
    margin: 5px 10px 15px 0;
    text-align: center;
    width: 165px;
}

#idPersonal span {
    font-size: 80%;
}

@media (max-width: 450px) {
    #idPersonal {
        clear: both;
        margin-bottom: 1rem;
    }
}

nav {
    background-color: black;
    clear: both;
    position: sticky;
    top: 0;
    padding: 0rem 0.5rem 0 0.5rem;
}

nav a {
    display: inline-block;
    background-color: white;
    color: black;
    margin: 0 1rem 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background-color: orange;
    color: white;
}

h2 {
    background-color: white;
    color: black;
    margin-bottom: 1rem;
    padding: 0.1rem 1rem 0.1rem 0;
    text-align: right;
    border-radius: 1rem 1rem 0 0;
}

section {
    clear: both;
    padding-top: 4rem;
}

@media (max-width: 800px) {
    section {
        padding-top: 5.5rem;
    }
}

main {
    padding-bottom: 1.5rem;
}

#idTitulos .titulo {
    font-size: 125%;
}

#idTitulos .titulo:first-letter {
    font-size: 175%;
}

#idTitulos .universidad {
    margin-left: 4rem;
}

#idPuestos .puesto {
    border-top: 1px dotted orange;
    padding: 0.25rem 0 1rem;
}

#idPuestos .puesto .empresa {
    float: left;
    font-size: 125%;
}

#idPuestos .puesto .fecha {
    color: orange;
    float: right;
    font-size: 80%;
    font-style: italic;
    margin: 0 0.5rem 1rem 1rem;
}

#idPuestos .puesto .cargo {
    clear: both;
    margin-left: 2rem;
}

#idPuestos .puesto .modulos {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
}

#idPuestos .puesto .descripcion {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
    font-style: italic;
}

#idPonencias .ponencia {
    border-top: 1px dotted #777;
    padding: 0.25rem 0 1rem;
}

#idPonencias .ponencia .titulo {
    font-size: 125%;
}

#idPonencias .ponencia .titulo:first-letter {
    font-size: 175%;
}

#idPonencias .ponencia .lugar {
    font-size: 80%;
    margin-left: 2rem;
}

#idLibros .libro {
    clear: both;
}

#idLibros .libro .portada {
    margin: 0 1rem 1rem 0;
    float: left;
}

#idLibros .libro .titulo {
    font-size: 125%;
}

#idLibros .libro .titulo:first-letter {
    font-size: 175%;
}

#idLibros .libro .autoria {
    font-size: 80%;
}

#idProyectos .proyecto {
    border-top: 1px dotted #777;
    padding: 0.25rem 0 1rem;
}

#idProyectos .proyecto .empresa {
    font-size: 125%;
}

#idProyectos .proyecto .desc {
    margin: 0.5rem 4rem 0 4rem;
}

#idProyectos .proyecto .herramientas {
    font-size: 80%;
    margin: 0.5rem 4rem 0 8rem;
}

#idCursos .ponencia {
    border-top: 1px dotted #777;
    padding: 0.25rem 0 1rem;
}

#idCursos .curso {
    font-size: 125%;
}

#idCursos .lugar {
    font-size: 80%;
    margin: 0.5rem 4rem 0 4rem;
}

#idCursos .lugar:before {
    content: "en ";
}

footer {
    position: fixed;
    background-color: black;
    border-top: 1px dotted;
    bottom: 0;
    font-size: 80%;
    height: 1.5rem;
    padding-top: 0.2rem;
    text-align: right;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}