:root {
    --bg-color: black;
    --text-color: white;
    --link-color: khaki;
    --link-over-color: yellow;

    --nav-bg-color: black;
    --nav-link-bg-color: white;
    --nav-link-text-color: black;
    --nav-link-hover-bg-color: orange;

    --footer-bg-color: black;  
    --footer-border-color: #777;
    
    --section-bg-color: orange;
    --section-text-color: black;
    --section-border-color: orange;

    --max-width: 1000px;

    --font-size-first-letter: 175%;
    --font-size-titulo: 125%;
    --font-size-subtitulo: 80%;
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}
