* {
    font-family: sans-serif;
    text-align: left;
}

body {
    margin: 1em;
}

a {
    text-decoration: none;
}

a:hover {}

abbr,
acronym {
    cursor: pointer;
}

div {
    margin-bottom: 3rem;
}

h1 {
    display: inline;
    margin: 0 0 0.5rem 0;
}

img {
    display: block;
    margin: 0.5rem 0 0.5rem 0;
}

.red {
    color: red;
}